
<b>
Click on the links on the left to see different ways to retrieve records from QuickBase.
<p>
You can retrieve records using ActiveRecord 'find' calls, hard-coded SQL SELECT statements, 
QuickBase Reports, and queries written in the QuickBase query language.
<p>
You can also retrieve data from any QuickBase table you have access to, even if it's not in 
the QuickBase application associated with your Rails application.

</b>
